<a href="https://colab.research.google.com/github/schmeks/PYTH225_Homework/blob/master/Copy_of_basic_data_types_psets_Rebecca_Mason.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  BASIC DATA TYPES

## EASY

### P1.PY

In [0]:
"""
Placeholders
"""

# You're writing a program, and you don't know what your starting value for your 'initial' variable is yet. The program won't run if you leave it blank, but you don't want to forget you need it! Make a workaround.

variable = None
print(variable)

None



### P2.PY

In [0]:
"""
Basic Variables
"""

# Create a variable that represents your favorite number, and add a note to remind yourself what this variable represents. Now print it out without re-typing the number.

variable = 12 #lol
print(variable)

# Create another variable that represents your favorite color, and do the same steps as above.
color = "green"
print(color)

12
green



### P3.PY

In [0]:
"""
String Formatting
"""

# Create a variable that contains the first 4 lines of lyrics from your favorite song. Add a comment that includes the song title and artist **each on their own line**! Now print out this variable.

lyrics = """
maximize all the pleasure 
even with all this weather 
nothing can make it better 
maximize all the pleasure
"""

"""
toro y moi
ordinary pleasure
"""

print(lyrics)

maximize all the pleasure
even with all this weather
nothing can make it better
maximize all the pleasure

## OPERATORS

### P1.PY

In [0]:
"""
Game Show Score
"""

# Imagine the var below represents the latest score of a competitor on a game 
# show. As this person plays, you need to update their score to reflect gains and 
# losses in points. Each math operation below dictates the change in the 
# competitor's score to be made after each of his or her actions.

# Complete the below math operations and print the results to show the changes 
# in the competitor's score throughout the game.

latest_score = 100
print(latest_score)

# Add 50

latest_score = latest_score + 50
print(latest_score)

# Subtract 90

latest_score = latest_score - 50
print(latest_score)

# Multiply 10

latest_score = latest_score * 10
print(latest_score)

# Divide 150

latest_score = latest_score / 150
print(latest_score)

# Modulus 3

latest_score = latest_score % 3
print(latest_score)

100
150
100
1000
6.666666666666667
0.666666666666667



### P2.PY

In [0]:
"""
String Operators
"""

# Create two variables, each of which is half of a compound sentence. 
## Example compound sentence: "I'll go to the beach today, and I'll go snorkeling." 

variable_1 = "We went to dinner"
variable_2 = "and to the movies."
print(variable_1)
print(variable_2)

We went to dinner
and to the movies.



### P3.PY

In [0]:
"""
Addition I - Numbers & Strings
"""

# Add the below sets of variables together without causing any Type Errors. 

# A)
a = 0
b = 2

sum_1 = a + b
print(sum_1)

# B)
c = '0'
d = '2'

c = int(c)
d = int(d)
sum_2 = c + d
print(sum_2)

# C)
e = '0'
f = 2

e = int(e)
sum_3 = e + f
print(sum_3)

2
2
2



### P4.PY

In [0]:
"""
Addition II - Booleans
"""

# Add the below sets of variables together.

# A)
a = True
b = True

sum_A = a + b
print(sum_A)

# B)
c = False
d = False

sum_B = c + d
print(sum_B)

# C)
e = True
f = False

sum_C = e + f
print(sum_C)

2
0
1

## TYPECASTING

### P1.PY

In [0]:
"""
Typcasting w. Integers & Floats
"""

# Convert these numbers into floats and back. Print out each result as well as its data type.

five = 5
zero = 0
neg_8 = -8
neg_22 = -22

output_comment1 = """float type:"""
five = float(five)
zero = float(zero)
neg_8 = float(neg_8)
neg_22 = float(neg_22)

print(output_comment1)
print(five)
print(type(five))
print(zero)
print(type(zero))
print(neg_8)
print(type(neg_8))
print(neg_22)
print(type(neg_22))

output_comment2 = """
integer type:"""
five = int(five)
zero = int(zero)
neg_8 = int(neg_8)
neg_22 =  int(neg_22)

print(output_comment2)
print(five)
print(type(five))
print(zero)
print(type(zero))
print(neg_8)
print(type(neg_8))
print(neg_22)
print(type(neg_22))

float type:
5.0
<class 'float'>
0.0
<class 'float'>
-8.0
<class 'float'>
-22.0
<class 'float'>

integer type:
5
<class 'int'>
0
<class 'int'>
-8
<class 'int'>
-22
<class 'int'>



### P2.PY

In [0]:
"""
Typcasting w. Strings
"""

# Convert these variables into strings and then back to their original data types. 
# Print out each result as well as its data type. What do you notice about the last one?

five = 5
zero = 0
neg_8 = -8
T = True
F = False

comment1 = "convert to string:"
print(comment1)

five = str(five)
zero = str(zero)
neg_8 = str(neg_8)
T = str(T)
F = str(F)

print(five)
print(type(five))
print(zero)
print(type(zero))
print(neg_8)
print(type(neg_8))
print(T)
print(type(T))
print(F)
print(type(F))

comment2 = """
convert back to original type:"""
print(comment2)

five = int(five)
zero = int(zero)
neg_8 = int(neg_8)
T = bool(T)
F = bool(F)

print(five)
print(type(five))
print(zero)
print(type(zero))
print(neg_8)
print(type(neg_8))
print(T)
print(type(T))
print(F)
print(type(F))

printing = """
What happens is that "F" is converted to True 
because only empty variables 
are converted to False"""
print(printing)

convert to string:
5
<class 'str'>
0
<class 'str'>
-8
<class 'str'>
True
<class 'str'>
False
<class 'str'>

convert back to original type:
5
<class 'int'>
0
<class 'int'>
-8
<class 'int'>
True
<class 'bool'>
True
<class 'bool'>

What happens is that "F" is converted to True
because only empty variables
are converted to False



### P3.PY

In [0]:
"""
Booleans I - Typecasting w. Numbers
"""

# A) Use typecasting to turn these variables into boolean values. Print the result and the datatype of the result. 

one = 1
zero = 0

print("""
A)""")

one = bool(one)
zero = bool(zero)

print(one)
print(type(one))
print(zero)
print(type(zero))

# B) Use typecasting to turn the resultant variables from part A into floats. Print the result and the datatype of the result.

print("""
B)""")
one = float(one)
zero = float(zero)

print(one)
print(type(one))
print(zero)
print(type(zero))

# C) Use typecasting to turn the resultant variables from part B back into booleans. Print the result and the datatype of the result.

print("""
C)""")
one = bool(one)
zero = bool(zero)

print(one)
print(type(one))
print(zero)
print(type(zero))

# D) Use typecasting to turn the resultant variables from part C into integers. Print the result and the datatype of the result.

print("""
D)""")

one = int(one)
zero = int(zero)

print(one)
print(type(one))
print(zero)
print(type(zero))

# E) Use typecasting to turn the variable below into a boolean value. Print the result and the datatype of the result. 

ten = 10

print("""
E)""")
ten = bool(10)

print(ten)
print(type(ten))

A)
True
<class 'bool'>
False
<class 'bool'>

B)
1.0
<class 'float'>
0.0
<class 'float'>

C)
True
<class 'bool'>
False
<class 'bool'>

D)
1
<class 'int'>
0
<class 'int'>

E)
True
<class 'bool'>



### P4.PY

In [0]:
"""
Booleans II - Typecasting w. Strings
"""

# A) Use typecasting to turn these variables into boolean values. Print the result and the datatype of the result. 

one = 1
zero = 0
T = True
F = False

print("A)")
one = bool(one)
zero = bool(zero)
T = bool(T)
F = bool(F)

print(one)
print(type(one))
print(zero)
print(type(zero))
print(T)
print(type(T))
print(F)
print(type(F))


# B) Use typecasting to turn the latest values for variables 'one' and 'zero' back into integers. Print the result and the datatype of the result.

one = int(one)
zero = int(zero)

print("""
B)""")

print(one)
print(type(one))
print(zero)
print(type(zero))

# C) Use typecasting to turn the latest values for variables 'T' and 'F' back into boolean values. Print the result and the datatype of the result.

T = bool(T)
F = bool(F)

print("""
C)""")

print(T)
print(type(T))
print(F)
print(type(F))

A)
True
<class 'bool'>
False
<class 'bool'>
True
<class 'bool'>
False
<class 'bool'>

B)
1
<class 'int'>
0
<class 'int'>

C)
True
<class 'bool'>
False
<class 'bool'>

## SHOPPING_LIST

### P1.PY

In [0]:
"""
Shopping List Calculator I
"""

# Create five variables,
# set them to strings that represent 5 common shopping list items


item_name_1 = 'apples'
item_name_2 = 'oranges'
item_name_3 = 'almonds'
item_name_4 = 'bread'
item_name_5 = 'spinach'

# Create five more variables,
# set them to floats that represent the prices of each of the items above

item_price_1 = 1.99
item_price_2 = 1.49
item_price_3 = 2.49
item_price_4 = 3.99
item_price_5 = 2.99

# Create five more variables,
# set them to ints that represent the quantity of each of the items above
item_quant_1 = 2
item_quant_2 = 3
item_quant_3 = 50
item_quant_4 = 1
item_quant_5 = 12

# Print to the console the name and price of each item defined above as follows:
# 1 Coco Puffs = $8.95.
# where:
# 1 would be item_quant_1
# Coco Puffs would be item_name_1
# 8.95 would be item_name_2


print(item_quant_1, item_name_1, '=', item_price_1)
print(item_quant_2, item_name_2, '=', item_price_2)
print(item_quant_3, item_name_3, '=', item_price_3)
print(item_quant_4, item_name_4, '=', item_price_4)
print(item_quant_5, item_name_5, '=', item_price_5)

2 apples = 1.99
3 oranges = 1.49
50 almonds = 2.49
1 bread = 3.99
12 spinach = 2.99



### P2.PY

In [11]:
"""
Shopping List Calculator II
"""

# Rewrite p1, but this time use the input() command to solicit user input for name, price, quantity. Here's how it works:

# item_name_1 = input('Name your first item: ') 
	# ^ this will ask user to input value of item_name_1

# use input() function and ask user to name items
item_name_1 = input('Name your first item: ')
item_name_2 = input('Name your second item: ')
item_name_3 = input('Name your third item: ')
item_name_4 = input('Name your fourth item: ')
item_name_5 = input('Name your fifth item: ')

# use input() function and ask user to name prices
item_price_1 = float(input('What is the price of your first item?: '))
item_price_2 = float(input('What is the price of your second item?: '))
item_price_3 = float(input('What is the price of your third item?: '))
item_price_4 = float(input('What is the price of your fourth item?: '))
item_price_5 = float(input('What is the price of your fifth item?: '))

# use input() function and ask user to name quants
item_quant_1 = int(input('What is the amount of your first item?: '))
item_quant_2 = int(input('What is the amount of your second item?: '))
item_quant_3 = int(input('What is the amount of your third item?: '))
item_quant_4 = int(input('What is the amount of your fourth item?: '))
item_quant_5 = int(input('What is the amount of your fifth item?: '))

# Print to the console the name and price of each item defined above as follows:
# 1 Coco Puffs = $8.95.
# where:
# 1 would be item_quant_1
# Coco Puffs would be item_name_1
# 8.95 would be item_name_2

print(f'{item_quant_1} {item_name_1} = ${item_quant_1 * item_price_1}')
print(f'{item_quant_2} {item_name_2} = ${item_quant_2 * item_price_2}')
print(f'{item_quant_3} {item_name_3} = ${item_quant_3 * item_price_3}')
print(f'{item_quant_4} {item_name_4} = ${item_quant_4 * item_price_4}')
print(f'{item_quant_5} {item_name_5} = ${item_quant_5 * item_price_5}')

# JUST REMEMBER: now this will be defined by the user!!

Name your first item: peas
Name your second item: beans
Name your third item: rice
Name your fourth item: lentis
Name your fifth item: bread
What is the price of your first item?: 1
What is the price of your second item?: 3
What is the price of your third item?: 3
What is the price of your fourth item?: 3
What is the price of your fifth item?: 3
What is the amount of your first item?: 200
What is the amount of your second item?: 5
What is the amount of your third item?: 5
What is the amount of your fourth item?: 5
What is the amount of your fifth item?: 5
200 peas = $200.0
5 beans = $15.0
5 rice = $15.0
5 lentis = $15.0
5 bread = $15.0