<a href="https://colab.research.google.com/github/schmeks/PYTH225_Homework/blob/master/Copy_of_loop_psets_Rebecca_Mason_HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  LOOPS

## BASICS

### P1.PY

In [0]:
"""
Odds & Evens
"""

# Use a loop to make a list of all odd numbers between 1 and 10 and another list with all the evens. When done, print the lists.

# odds = 

# evens = 

odds = []
evens = []
 
i = 1
 
while i <= 10:
  if i % 2 != 0:
    odds.append(i)
  else:
    evens.append(i)
  i += 1
 
print(odds,'\n', evens)

[1, 3, 5, 7, 9]
 [2, 4, 6, 8, 10]



### P2.PY

In [8]:
"""
Lists with Duplicates
"""

# First, print list a below as it is now.

a = [2, 4, 10, 20, 5, 2, 20, 4]
b = [13, 2, 25, 20, 4, 8]

# Using a loop, remove the duplicate items from list a and print out the updated list.

print(a)
new_a = []
for i in a:
  if i not in new_a:
    new_a.append(i)
print(new_a)

# Using a loop, merge list b into list a without adding any duplicates.

c = [new_a]
for i in b:
  if i not in a:
    c.append(i)

print(c)

[2, 4, 10, 20, 5, 2, 20, 4]
[2, 4, 10, 20, 5]
[[2, 4, 10, 20, 5], 13, 25, 8]



### P3.PY

In [0]:
"""
Temperature Conversions
"""

# You're studying climate change, and over the last 3 years, you've recorded the temperature at noon every day in degrees Fahrenheit (F). The var sampleF holds a portion of those recordings. 

sampleF = [71.6, 82.4, 91.4, 107.6, 125.6]

# Convert each item in this list into degrees Celsius and add the results to a dict called sample_temps so that the conversion of each day's temperature is easily accessible. For reference, the conversion equation between F and C is:
# Celsius = (Fahrenheit - 32) * 5.0/9.0

sample_temps = []

for i in sampleF:
  conversion = ((i-32)*5/9)
  sample_temps.append(conversion)

print(sample_temps)
# sample_temps =

[21.999999999999996, 28.000000000000004, 33.0, 42.0, 52.0]

### P4.PY

In [3]:
"""
Control Flow - I

Print the numbers in some range until you find a multiple of 7. 
At that point, print "___ is the first multiple of 7 in this 
range." If the range does NOT include any multiples of 7, after 
you've printed the last number in the range, print "There are 
no multiples of 7 in this range.
"""

# next in while loop with True/False
match = False

i = 15
j = 100

for x in range(i, j):
  if x % 7 == 0:
    print(f'{x} is the first multiple of 7 in this range.')
    match = True
    break
if not match:
  print("There are no multiples of 7 in this range.")

21 is the first multiple of 7 in this range.



### P5.PY

In [0]:
"""
Control Flow II

Write a Python program that prints all the numbers from 
0 to 6 except 3 and 6. Note: Use a 'continue' statement. 
"""

notthreemult = []

three = 3

for i in range(1,7): 
  if i % 3 != 0:
    notthreemult.append(i)
  else:
    continue

print(notthreemult)

[1, 2, 4, 5]

## FACTORS



### P1.PY

In [17]:
"""
Factorial
"""

# Find the factorial of a number input by a user. Then print out the factors 
# within the factorial and then print out the actual numeric answer. 
# Hint: The formula for a factorial is n! = (n-1)*n.


# Example output:
"""
8! = 8*7*6*5*4*3*2*1
8! = 40320
"""

import numpy

user_input = input('Enter a number to find its factorial: ')

factors = []

for i in range(int(user_input), 1, -2):
  answer = (i - 1)*i
  factors.append(answer)

print(numpy.prod(factors))

Enter a number to find its factorial: 4
24



### P2.PY

In [18]:
"""
Factors
"""

# Find all factors of a number that a user inputs and print out 'The factors of <the_user_input_number> are: '.

user_input = input('Enter a number to find its factors: ')

factors = []

for i in range(1, int(user_input)):
  if int(user_input) % i == 0:
    factors.append(i)

print(f'The factors of {user_input} are: {factors}')

Enter a number to find its factors: 15
The factors of 15 are: [1, 3, 5]



### P3.PY

In [16]:
"""
GCD
"""

# Find the greatest common denominator (GCD) of two number input by a user.
# Then print out 'The GCD of <first number> and <second number> is <your result>.'

print('Enter two numbers to find their greatest common denominator.')

user_input1 = int(input('First number: '))
user_input2 = int(input('Second number: '))

factors1 = []

for i in range(1, user_input1+1):
  if int(user_input1) % i == 0:
    factors1.append(i)

print(factors1)

factors2 = []

for k in range(1, user_input2+1):
  if int(user_input2) % k == 0:
    factors2.append(k)

print(factors2)

# # for i in factors1:
# #   if max(factors1) in factors2:
# #     print(f'The GCD of {user_input1} and {user_input2} is: {factors1}')

# while i in factors1 >= 1:
#   if max(factors1) in factors2:
#     print(f'The GCD of {user_input1} and {user_input2} is: {max(factors1)}')
#   continue
#   i -= 1

for n in factors1:
  if n in factors2:
    common_numbers = []
    common_numbers.append(n)

print(max(common_numbers))

Enter two numbers to find their greatest common denominator.
First number: 20
Second number: 60
[1, 2, 4, 5, 10, 20]
[1, 2, 3, 4, 5, 6, 10, 12, 15, 20, 30, 60]
20

## SHAPES

### P1.PY

In [0]:
"""
Build a Triangle I 

Use a FOR loop to print a triangle of stars that looks like this:

*
**
***
****
*****

"""

for num in range(6):
    for i in range(num):
      print ('*', end='')
    print('')

*
**
***
****
*****

### P2.PY

In [0]:
"""
Build a Triangle II

Use a WHILE loop to print a triangle of stars that looks like this:

*
**
***
****
*****

"""
base = 1
counter = base

while counter < 7:
  space = ' ' * (base - counter)
  star = '*' * (counter -1 )
  print(star + space)
  counter += 1

*
**
***
****
*****



### P3.PY

In [24]:
"""
Build a Pyramid I

Use a FOR loop to print a pyramid of stars that looks like this:

    *
   ***
  *****
 *******
*********

"""
# Alternative method that isn't as pythonic?
# 
# for num in range(10):
#     if num % 2 != 0:
#       for i in range(num):
#         half_space = (10 - int(num))/2  
#         space = (' ' * int(half_space))
#         star = '*' * num
#         print (space, star, end = '')
#       print('')
#     continue


for i in range(1, 10, 2):
  if i % 2 != 0:
    half_space = (9 - int(i))/2  
    space = (' ' * int(half_space))
    star = '*' * i
    print (space, star, end = '')
    print('')

     *
    ***
   *****
  *******
 *********

### P4.PY

In [0]:
"""
Build a Pyramid II

Use a WHILE loop to print a pyramid of stars that looks like this:

    *
   ***
  *****
 *******
*********

"""
base = int(1)
counter = int(base)
half_space = 4

while counter < 11:
  if counter % 2 != 0:
    half_space = (9 - int(counter))/2
    space = (' ' * int(half_space))
    star = '*' * (counter)
    print(space, star)
  counter += 1

     *
    ***
   *****
  *******
 *********



### P5.PY

In [0]:
"""
Build a Diamond I

Use a FOR loop to print a diamond of stars that looks like this:

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *
"""
for i in range(1, 10, 2):
  if num % 2 != 0:
    half_space = (10 - int(i))/2  
    space = (' ' * int(half_space))
    star = '*' * i
    print (space, star, end = '')
    print('')
  continue

for k in range(7, 0, -2):
  if num % 2 != 0:
    half_space = 5 - (k/2)  
    space = (' ' * int(half_space))
    star = '*' * k
    print (space, star, end = '')
    print('')
  continue

     *
    ***
   *****
  *******
 *********
  *******
   *****
    ***
     *

### P6.PY

In [0]:
"""
Build a Diamond II

Use a WHILE loop to print a diamond of stars that looks like this:

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *
"""

base = int(1)
counter = int(base)
half_space = 4

while counter < 11:
  if counter % 2 != 0:
    half_space = (9 - int(counter))/2
    space = (' ' * int(half_space))
    star = '*' * (counter)
    print(space, star)
  counter += 1

base2 = int(7)
counter2 = int(base2)
half_space2 = 4

while counter2 > 0:
  if counter2 % 2 != 0:
    half_space2 = (9 - int(counter2))/2
    space = (' ' * int(half_space2))
    star = '*' * (counter2)
    print(space, star)
  counter2 -= 1

     *
    ***
   *****
  *******
 *********
  *******
   *****
    ***
     *

## LOOP_CHALLENGES

### P1.PY

In [0]:
"""
Valid Passwords
"""

# Check the validity of password input by users based on the below security 
# requirements: At least 1 letter between [a-z] and 1 letter between [A-Z].
"""
# At least 1 letter between [a-z] and 1 letter between [A-Z].
#At least 1 number between [0-9].
At least 1 character from [$#@].
Minimum length 6 characters.
Maximum length 16 characters.
"""


# Hint: Look up the documentation for the "re" library and it's ".search()" method.

# p = input("Input your password: ")



### P2.PY

In [0]:
"""
Prime Numbers I
"""

# Check if a number input by a user is prime or not. If it is NOT a prime number, 
# print out that it is not a prime number. If it IS a prime number, print out 
# that it is a prime number and give an example of two of its factors. Hint: Prime numbers must be greater than 1.

# Example of output for a NON-prime:
# 12 is not a prime number
# For example, 2 x 6 = 12



# user_input = input("Enter a number to check if it's prime: ")

'\nPrime Numbers I\n'