<a href="https://colab.research.google.com/github/schmeks/PYTH225_Homework/blob/master/Copy_of_lists_psets_Rebecca_Mason_20200322.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  LISTS

## LIST OPS

### P1.PY

In [0]:
"""
Basic List Operations I
"""

# Create a list including these five animals - elephant, tiger, otter, orangutan, and penguin.

animals =["elephant", "tiger", "otter", "orangutan", "penguin"]
print(animals)

# Print the 4th animal on the list.

print(animals[3])

# Add 'tortoise' to the beginning of the list.

animals.insert(0,"tortise")
print(animals)

# Print the length of the list.

print(len(animals))
print(animals)

# Remove 'orangutan' from the list.

animals.pop(4)
print(animals)

# Sort the list alphabetically and print it out.

animals.sort()
print(animals)

['elephant', 'tiger', 'otter', 'orangutan', 'penguin']
orangutan
['tortise', 'elephant', 'tiger', 'otter', 'orangutan', 'penguin']
6
['tortise', 'elephant', 'tiger', 'otter', 'orangutan', 'penguin']
['tortise', 'elephant', 'tiger', 'otter', 'penguin']
['elephant', 'otter', 'penguin', 'tiger', 'tortise']



### P2.PY

In [0]:
"""
Basic List Operations II
"""

# Declare a list with 5 names, and print out the length of that list.
names = None

names = ['Aaron', 'Sophie', 'Robert', 'Patrick', 'Alison']
print(names)
print(len(names))

# Print the 3rd name on the list

print(names[2])

# Delete the first name on the list

names.pop(0)
print(names)

# Re-add the name you deleted to the end of the list

names.append('Aaron')
print(names)

# Replace the 2nd name on the list with a new name.

names[1] = "Emily"
print(names)

# Add 3 new names to the end of the list.

names2 = ['Adam', 'Matt', 'Bridgit']
names.extend(names2)
print(names)

['Aaron', 'Sophie', 'Robert', 'Patrick', 'Alison']
5
Robert
['Sophie', 'Robert', 'Patrick', 'Alison']
['Sophie', 'Robert', 'Patrick', 'Alison', 'Aaron']
['Sophie', 'Emily', 'Patrick', 'Alison', 'Aaron']
['Sophie', 'Emily', 'Patrick', 'Alison', 'Aaron', 'Adam', 'Matt', 'Bridgit']



### P3.PY

In [0]:
"""
Math Operations
"""

# Save a list with the numbers `2`, `4`, `6`, and `8` into a variable called `numbers`. Use this variable for all the problems in this PSET.

numbers = None

# Print the max of `numbers`.

numbers = [2, 4, 6, 8]
print(numbers)
print(max(numbers))

# Pop the last element in `numbers` off; re-insert it at index `2` and print the resultant list.

numbers.pop(-1)
print(numbers)

numbers.insert(2, 8)
print(numbers)

# Pop the second number in `numbers` off.

numbers.pop(1)
print(numbers)

# Append `3` to `numbers`.

numbers.append(3)
print(numbers)

# Print out the average number.

print(sum(numbers)/len(numbers))

[2, 4, 6, 8]
8
[2, 4, 6]
[2, 4, 8, 6]
[2, 8, 6]
[2, 8, 6, 3]
4.75



## SORTING

### P1.PY

In [13]:
"""
Spotify Playlists - Sorting
"""

# You work for Spotify and are creating a feature for users to alphabetize their playlists by song title. Below is a list of titles from a sample playlist.

playlist_titles = ['Tiny Dancer', 'At Last', 'Fortunate Son', 
'Hey Jude', 'Isn\'t She Lovely', 'Just the Way You Are', 'I\'m Yours',
'Vienna', 'Roxanne', 'Dancing in the Moonlight']
print(playlist_titles)

# Alphabetize these songs and print the result.

ascending = sorted(playlist_titles)
print(ascending)

# Now do the reverse.

descending = sorted(playlist_titles, reverse = True)
print(descending)

['Tiny Dancer', 'At Last', 'Fortunate Son', 'Hey Jude', "Isn't She Lovely", 'Just the Way You Are', "I'm Yours", 'Vienna', 'Roxanne', 'Dancing in the Moonlight']
['At Last', 'Dancing in the Moonlight', 'Fortunate Son', 'Hey Jude', "I'm Yours", "Isn't She Lovely", 'Just the Way You Are', 'Roxanne', 'Tiny Dancer', 'Vienna']
['Vienna', 'Tiny Dancer', 'Roxanne', 'Just the Way You Are', "Isn't She Lovely", "I'm Yours", 'Hey Jude', 'Fortunate Son', 'Dancing in the Moonlight', 'At Last']



### P2.PY

In [51]:
"""
Ordering Random Numbers
"""

# Create a list of 6 randomly generated numbers called numbers and sort it in descending order.

import random

numbers = random.sample(range(0, 100), 6)
descending = numbers.sort(reverse = True)
print(numbers)

[86, 80, 59, 37, 9, 4]

## LIST MANIPULATION

### P1.PY

In [0]:
"""
Phone Numbers
"""

# Parse this phone number so that a computer can process
# it. (Hint: It can't include any non-numeric
# characters.)

cell = '1.192.168.0143'

parsed = cell.split('.')
print(parsed)
number = ' '.join(parsed)
print(number)

['1', '192', '168', '0143']
1 192 168 0143



### P2.PY

In [0]:
"""
Basic Math Ops
"""

# Given the list below, assign the correct values to the variables below.
	# my_sum = 
	# my_min = 
	# my_max = 
	# my_range = 
	# my_mean =

nums = [2, 19, 20, 12, 6, 24, 8, 30, 28, 25]


# Once you finish, print out each value **on its own line** in this format: "my_median = " etc.

my_sum = sum(nums)
print(my_sum)
my_min = min(nums)
print(my_min)
my_max = max(nums)
print(my_max)
my_range = [my_min, my_max]
print(my_range)
my_mean = (my_sum/len(nums))
print(my_mean)

174
2
30
[2, 30]
17.4



### P3.PY

In [30]:
"""
Merge Lists with Duplicates
"""

# Use the two lists below to solve this problem. Print out the result from each section as you go along.

list1, list2 = [2, 8, 6], [10, 4, 12]
print(list1)
print(list2)

# A) Add another instance of each item in list1 to list1 again and assign the results to list3.
e1, e2, e3 = list1
list3 = [e1, e2, e3, e1, e2, e3]
print(list3)

# B) Combine the two given lists and assign them to list4.
list4 = [e1, e2, e3, list2]
print(list4)

# C) Replace the first 3 items in list 3 with the numbers 13, 16, 9.
list3[:1] = [13, 16, 9]
print(list3)

# D) Merge list3 and list4 to create a list containing no duplicates and store this in list5.
list5 = [list3, list4]
print(list5)

print("Not really sure how to do this last bit")

# Take a look at your printed statements to see the evolution of your lists with each step of this problem.

[2, 8, 6]
[10, 4, 12]
[2, 8, 6, 2, 8, 6]
[2, 8, 6, [10, 4, 12]]
[13, 16, 9, 8, 6, 2, 8, 6]
[[13, 16, 9, 8, 6, 2, 8, 6], [2, 8, 6, [10, 4, 12]]]
Not really sure how to do this last bit



### P4.PY

In [0]:
"""
Cool Runnings!
"""

# Here's a quote from the movie 'Cool Runnings'. :)

# Replace the word bobsled with "YOLO" and print the resultant list as 4 sentences (i.e. NOT a list), each on a new line.

cool_runnings = [
	'Feel', 'the', 'rhythm.',
	'Feel', 'the', 'rhyme.',
	'Get', 'on', 'up.',
	'It\'s', 'bobsled', 'time!'
]

cool_runnings[10] = 'YOLO'
print(cool_runnings)

sentence1 = ' '.join(cool_runnings[0:3])
sentence2 = ' '.join(cool_runnings[3:6])
sentence3 = ' '.join(cool_runnings[6:9])
sentence4 = ' '.join(cool_runnings[9:12])

print(f"""
{sentence1}
{sentence2}
{sentence3}
{sentence4}
""")

['Feel', 'the', 'rhythm.', 'Feel', 'the', 'rhyme.', 'Get', 'on', 'up.', "It's", 'YOLO', 'time!']

Feel the rhythm.
Feel the rhyme.
Get on up.
It's YOLO time!

## LIST CHALLENGES

### P1.PY

In [12]:
"""
CHALLENGE - Extensions
"""

# ** Challenge** Add each element of the tuple1 to list1 *individually* and print the result.

list1 = [6, 12, 9, 4, 10, 1]
tuple1 = [(15,3), (6,2), (1, 8)]

element1, element2, element3 = tuple1
print(element1)

e1a, e1b = element1
e2a, e2b = element2
e3a, e3b = element3

NEWlist1 = list1, e1a, e1b, e2a, e2b, e3a, e3b
print(NEWlist1)

(15, 3)
([6, 12, 9, 4, 10, 1], 15, 3, 6, 2, 1, 8)



### P2.PY

In [68]:
"""
CHALLENGE - Core Statistics Calculations
"""

# Given the sample below, find the mean, median, mode, variance, and standard deviation of this sample. Print them out separately, but in the same format as before.
	# my_median = 
	# my_mode = 
	# my_variance = 
	# my_sd = 

sample = [6, 19, 20, 12, 6, 24, 8, 30, 28, 25]

midpoint = len(sample)/2
print(midpoint)

my_median = sum(sample[4:6])/2
print(f'my_median = {my_median}')

import statistics
my_mode = statistics.mode(sample)
print(f'my_mode = {my_mode}')

my_variance = statistics.variance(sample)
print(f'my_variance = {my_variance}')

my_sd = statistics.stdev(sample)
print(f'my_stdev = {my_sd}')
# Once you finish, print out each value **on its own line** in this format: "median = " etc.

5.0
my_median = 15.0
my_mode = 6
my_variance = 84.17777777777778
my_stdev = 9.174844836714012